<h1>Signup!</h1>
<br>
<%= form_for :user, url: '/users' do |f| %>
    <div class="form-group">
      <div class="col-sm-2">Name: </div>
      <div class="col-sm-10"><%= f.text_field :name %></div>
      <div class="col-sm-2">Email: </div>
      <div class="col-sm-10"><%= f.text_field :email %></div>
      <div class="col-sm-2">Password: </div>
      <div class="col-sm-10"><%= f.password_field :password %></div>
      <div class="col-sm-2">Confirm Password: </div>
      <div class="col-sm-10"><%= f.password_field :password_confirmation%></div>
      <%= f.submit "Submit" %>
    </div>
<% end %>